<div class="error-wrap">
	<div class="error-inner">
	  <h1>Oops !</h1>
	  <p>Looks like you took a wrong turn, or we led you astray!</p>
	  <p>Thank you for visiting our secret little world. We get lonely back here. To get to where you want to go, you could hop on the Digiti bus or Zeppelin.</p>
	  <p>Or, try one of these, instead:</p>
	  <a href="<%- url_for() %>" class="error-link link1" title="Go to the home page !">Go to home</a>
	  <a href="<%=theme.facebook_url %>" class="error-link link2" title="Yes, contact us !">Contact us</a>
   </div>
</div>