.error-wrap
	@extend $block
	color color-default

.error-inner
	margin 0% 33%
	text-align left
	font-family font-serif
	p
		line-height: line-height
		margin: line-height 0		
	h1
		font-size 82px
	h2
		font-size 75px
	a
		text-transform: uppercase;
		text-decoration: none
		text-align: center;
		display: block;
	@media mq-mobile
		margin 0% 5%
	@media mq-tablet
		margin 0% 5%
.error-link
	@extend $block
	line-height: 1em
	padding: 6px 10px
.link1
	color white
	background: rgb(122, 56, 98)
.link2
	color white
	background: rgb(159, 176, 78)