#footer
  background: color-footer-background
  padding: 20px 0
  border-top: 1px solid color-border
  color: color-grey
  a
    color: color-link
    text-decoration: none
    &:hover
      color: color-blue

#footer-info
  line-height: line-height
  font-size: 0.85em

.social-group
    font-size 2em
    margin 5px 0
    a
      padding 0 4px

[class^="icon-"],
[class*=" icon-"]
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
/* BOOTSTRAP SPECIFIC CLASSES
 * -------------------------- */
/* Bootstrap 2.0 sprites.less reset */
[class^="icon-"], [class*=" icon-"]
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
  color: color-font
  &:hover
    color: color-blue
.icon-weibo:before
  content: "\f18a";
.icon-github:before
  content: "\f09b";
.icon-facebook-sign:before
  content: "\f082";
.icon-google-plus-sign:before
  content: "\f0d4";
.icon-download:before
  content: "\f019";
.icon-reply:before
  content: "\f122";
.icon-github-alt:before
  content: "\f113";
.icon-googles:before
  content: "\f1a0";
.icon-star:before
  content: "\f005";
.icon-home:before
  content: "\f015";
.icon-archive:before
  content: "\f187";
.icon-user:before
  content: "\f007";
.icon-tags:before
  content: "\f02c";
.icon-camera:before
  content: "\f030";
.icon-trophy:before
  content: "\f091";
.icon-file-o:before
  content: "\f0f6";
  color: color-blue;
.icon-child:before
  content: "\f1ae";
  color: color-blue;
.icon-uhunt
  font-family: impact;
  background-color: #F0F0F0;
  color: #262A30;
  font-size: 18px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  top: -5px;
  padding: 3px 2px;
  &:hover
    background-color: color-blue;
    color: #262A30

.icon-backward:before
  content: "\f04a";
.icon-forward:before
  content: "\f04e";
.icon-repeat:before
  content: "\f01e";
.icon-refresh:before
  content: "\f021";
.icon-random:before
  content: "\f074";
.icon-play:before
  content: "\f04b";
.icon-pause:before
  content: "\f04c";
.icon-pause:before
  content: "\f04c";
.icon-volume-up:before
  content: "\f028";
.icon-volume-off:before
  content: "\f026";
.icon-menu:before
  content "\f03a"
.icon-gotop:before
  content "\f062"
.icon-godown:before
  content "\f063"
.icon-music:before
  content "\f001"
.icon-mail:before
  content "\f003"
.icon-power:before
  content "\f011"
.icon-learn:before
  content "\f044"
