#footer
  background: color-footer-background
  padding: 20px 0
  border-top: 1px solid color-border
  color: color-grey
  a
    color: color-link
    text-decoration: none
    &:hover
      color: color-blue

#footer-info
  line-height: line-height
  font-size: 0.85em

.social-group
    font-size 2em
    margin 5px 0
    a
      padding 0 4px

[class^="icon-"],
[class*=" icon-"]
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
/* BOOTSTRAP SPECIFIC CLASSES
 * -------------------------- */
/* Bootstrap 2.0 sprites.less reset */
[class^="icon-"], [class*=" icon-"]
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
  color: color-font
  &:hover
    color: color-blue
.icon-weibo:before
  content: "\f18a";
.icon-github:before
  content: "\f09b";
.icon-facebook-sign:before
  content: "\f082";
.icon-google-plus-sign:before
  content: "\f0d4";
.icon-download:before
  content: "\f019";
.icon-uhunt
  font-family: impact;
  background-color: white;
  color: black;
  font-size: 22px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  top: -2px;
  padding: 0 2px;
